* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

body.sidebar {
  align-items: baseline;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.container.full {
  height: 100%;
  overflow-y: auto;
}

.tag-red {
  background-color: #ffadad;
  border-color: rgb(219, 79, 79);
}

.tag-magenta {
  background-color: rgb(255, 171, 236);
  border-color: rgb(213, 90, 200);
}

.tag-violet {
  background-color: rgb(102, 49, 215);
  border-color: rgb(70, 31, 152);
}

.tag-light_green {
  background-color: rgb(194, 235, 127);
  border-color: rgb(117, 159, 56);
}

.tag-green {
  background-color: rgb(173, 240, 199);
  border-color: rgb(15, 168, 60);
}

.tag-dark_green {
  background-color: rgb(6, 116, 41);
  border-color: rgb(10, 91, 35);
}

.tag-cyan {
  background-color: rgb(168, 233, 255);
  border-color: rgb(14, 157, 205);
}

.tag-blue {
  background-color: rgb(160, 196, 251);
  border-color: rgb(86, 136, 211);
}

.tag-dark_blue {
  background-color: rgb(48, 91, 171);
  border-color: rgb(29, 71, 146);
}

.tag-yellow {
  background-color: rgb(255, 237, 123);
  border-color: rgb(186, 138, 18);
}

.tag-gray {
  background-color: rgb(214, 214, 214);
  border-color: rgb(144, 142, 142);
}

.tag-dark_gray {
  background-color: rgb(89, 89, 89);
  border-color: rgb(75, 75, 75);
}

.tag-black {
  background-color: rgb(26, 26, 26);
}
